# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

*~

ch_*
model/tools/setupdb/setupdb
model/tools/testclickhouse/testclickhouse
.DS_Store
hulation
cert.pem
key.pem
model/tools/timertest/timertest
model/tools/hulactl/hulactl
model/tools/tviewtest/tviewtest
test_ch_data
test_ch_logs
